@model IEnumerable<n01605783Cumulative3.Models.Teacher>
@{
    ViewBag.Title = "List";
}
<nav>
    <h3>
        <a class="navlink" href="/Teacher/New">New Teacher</a>
    </h3>
</nav>
<h2>Teacher's List</h2>
<form action="/Teacher/List" method="GET">
    <div>
        <input type="text" name="TeacherSearchKey"/>
        <input type="submit" value="Search"/>
    </div>
</form>

@{
    foreach(n01605783Cumulative3.Models.Teacher Teacher in Model)
    {
        <div><a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFirstName @Teacher.TeacherLastName</a> </div>
    }
}