@model IEnumerable<MyPassionProjectW2024n01605783.Models.ExerciseDto>

@{
    ViewBag.Title = "List";
}
<a href="/exercise/new" class="btn btn-warning">Add Exercise</a>
<h2>List</h2>
<ol class="list-group list-group-numbered">
    @foreach (var Exercise in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <h2><a href="/Exercise/Details/@Exercise.ExerciseId" class="fw-bold">@Exercise.ExerciseName</a></h2>
            <div class="badge text-bg-primary rounded-pill">Workout name: @Exercise.WorkoutName</div>
            <div class="badge text-bg-primary rounded-pill">Workout day: @Exercise.WorkoutDay</div>
        </li>
    }
    <a href="/Workout/List" class="btn btn-warning">View Workouts</a>
</ol>