@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>This website is about different workouts which will be performed by any individuals in 
    their daily life, they can track their record, and can customise according to time management</p>
</main>