@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <a href="https://www.linkedin.com/in/abhishek-gaur-316a88252/">Abhishek Gaur's Linkedin</a>
    </address>
</main>