@{
    ViewBag.Title = "Home Page";
}

<main>
    <h2><a class="btn btn-outline-success me-2" href="/Exercise/List">Exercise</a></h2>
    <h2><a class="btn btn-outline-success me-2" href="/User/List">User</a></h2>
    <h2><a class="btn btn-outline-success me-2" href="/Workout/List">Workout</a></h2>
</main>