
@{
    ViewBag.Title = "List";
}
<a href="/blog/new" class="btn btn-warning">Add Tag</a>
<h2>List</h2>
<ol class="list-group list-group-numbered">
    @foreach (var Tag in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <h2><a href="/Tag/Details/@Tag.TagId" class="fw-bold">@Tag.TagId</a></h2>
            <div class="badge text-bg-primary rounded-pill">Tag name: @Tag.TagName</div>
        </li>
    }
</ol>