@model MyPassionProjectW2024n01605783.Models.BlogDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Blog?</h2>
<a href="/Blog/List">Cancel</a>
<h2>@Model.BlogHeading</h2>
<div>Description: @Model.BlogShortDescription</div>
<form action="/Blog/Delete/@Model.BlogId" method="POST">
    <input type="submit" value="Confirm Delete" />

</form>