@model IEnumerable<MyPassionProjectW2024n01605783.Models.CommentDto>

@{
    ViewBag.Title = "List";
}
<a href="/blog/new" class="btn btn-warning">Add Comment</a>
<h2>List</h2>
<ol class="list-group list-group-numbered">
    @foreach (var Comment in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <h2><a href="/Comment/Details/@Comment.CommentId" class="fw-bold">@Comment.CommentId</a></h2>
            <div class="badge text-bg-primary rounded-pill">Comment: @Comment.CommentDescription</div>

            <div class="badge text-bg-primary rounded-pill">User ID: @Comment.UserId</div>
            <div class="badge text-bg-primary rounded-pill">User Name: @Comment.UserName</div>
        </li>
    }
</ol>