@{
    ViewBag.Title = "Create";
}

<h2>Create Blog</h2>
<form action="/Blog/Create" method="POST">
    <div>
        <label class="form-label">Comment ID </label> <input class="form-control" type="text" name="CommentId" />
    </div>
    <div>
        <label class="form-label">Comment </label> <input class="form-control" type="text" name="CommentDescription" />
    </div>
    <!-------------------------------------------------User-------------------------------------------------------->
    <div>
        <label class="form-label">User ID </label> <input class="form-control" type="text" name="UserId" />
    </div>
    <div>
        <input type="submit" value="Add Blog" class="btn btn-primary" />
    </div>
</form>